<form action="" method="post" >
    Enter data to update : <input type="text" name="up" id="body">
    <button type="submit" >Submit</button><br>    
</form>
<button type="submit" onclick="store()" class="btn btn-success">Store Notes</button> <br>
<button type="submit" onclick="show()" class="btn btn-success">Show Notes</button>